DB_URL_CLIENTE=jdbc:postgresql://localhost:5432/cinerama_cliente
DB_USERNAME_CLIENTE=postgres
DB_PASSWORD_CLIENTE=admin
API_TOKEN_RENIEC=TOKEN_AQUI


DB_URL_CATALOGO=jdbc:postgresql://localhost:5432/catalogo_db
DB_USER_CATALOGO=postgres
DB_PASSWORD_CATALOGO=admin
TMDB_API_TOKEN=TMBD_KEY_AQUI

