JWT_SECRET=tu_jwt_secret_super_seguro
JWT_EXPIRATION=86400000
RENIEC_API_TOKEN=tu_token_reniec
TMDB_API_TOKEN=tu_token_tmdb
RESEND_API_KEY=tu_resend_key
TWILIO_ACCOUNT_SID=tu_twilio_sid
TWILIO_AUTH_TOKEN=tu_twilio_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886